h1 {
  width: 750px;
  height: 172px;
  margin-left: 64.15px;
  margin-top: 100px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 96px;
  color: #202445;
}
/* .y {
  width: 750px;
  height: 172px;
  margin-left: 64.15px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 36px;
  color: #202445;

} */
p {
  width: 578px;
  height: 108px;
  margin-left: 64.15px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #303030;
}
.underline {
  display: inline-block;
  position: absolute;
  font-size: 1em;
  font-weight: bold;
  font-family: Arial, sans-serif;
  left: 64px;
  top: 150px;
  width: 240px;
}
.underline::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 10px;
  background: linear-gradient(to right, yellow, orange, red);
  z-index: -1;
}
.btn-2 {
  padding: 12px 16px 12px 16px;
  gap: 10px;
  cursor: pointer;
  margin-left: 64.15px;
  margin-top: 1em;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  background: #f16b51;
  border-radius: 12px;
  border: #f16b51;
  color: rgba(255, 255, 255, 1);
}
.btn-2 Link {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}
.img-1 {
  position: absolute;
  width: 669px;
  height: 700px;
  left: 786px;
  top: 1em;
  z-index: -1;
  /* background: #FFF3EA; */
}
.img-2 {
  position: absolute;
  width: 547px;
  height: 600px;
  left: 908.33px;
  top: -5em;
  /* z-index: -1; */
  /* transform: rotate(-30deg); */
}
.img-3 {
  /* Rectangle 8 */

  position: absolute;
  width: 300px;
  height: 410px;
  left: 809px;
  top: 15.7em;

  /* background: url(image.png); */
  border-radius: 12px;
}
.img-4 {
  position: absolute;
  width: 320px;
  height: 200px;
  top: 15.7em;
  left: 1123px;
  border-radius: 12px;
}
.img-5 {
  position: absolute;
  width: 320px;
  height: 196px;
  top: 29em;
  left: 1123px;
  border-radius: 12px;
}
