.upper #btn {
  display: none;
}
.upper {
  width: 1500px;
}
.lower {
  width: 1500px;
  height: 1000px;
}
.lower h1 {
  /* position: absolute; */
  width: 570px;
  height: 60px;
  margin-left: 64px;
  margin-top: 3em;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  color: #202445;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  width: 1500px;
  /* flex-direction: row; */
  /* grid-template-columns: 2px 2px 4px; */
}
.tour-card {
  /* position: absolute; */
  width: 412px;
  height: 388px;
  margin-left: 56px;
  margin-top: 40px;
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(159, 164, 189, 0.3);
  border-radius: 12px;
}
.building {
  /* position: absolute; */
  width: 412px;
  height: 225px;
  margin-left: 0px;
  margin-top: 0px;
}
.tour-card .h {
  /* position: absolute; */
  width: 261px;
  height: 30px;
  margin-left: 25px;
  margin-top: 8px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}
.tour-card .p1 {
  /* position: absolute; */
  width: 375px;
  height: 48px;
  margin-left: 25px;
  margin-top: 0em;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #999999;
}
.tour-card .p2 {
  width: 87px;
  height: 24px;
  margin-left: 60px;
  margin-top: -2em;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #797c9a;
}
.tour-card .p3 {
  width: 54px;
  height: 24px;
  margin-left: 230px;
  margin-top: -2em;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #797c9a;
}
.tour-card button {
  display: none;
}
.tour-card:hover button {
  /* Rectangle 19 */
  display: block;
  /* position: absolute; */
  width: 360px;
  height: 44px;
  margin-left: 25px;
  margin-top: -10px;

  background: #f16b51;
  border-radius: 12px;
  border-color: #f16b51;
  /* transform: rotate(90deg); */
}
.btn-text {
  /* View Details */
  
  /* position: absolute; */
  width: 124px;
  height: 30px;
  margin-left: 0px;
  margin-top: 0em;
  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */
  
  color: #ffffff;
}
.price0 {
  /* position: absolute; */
  width: 24px;
  height: 24px;
}
.clock0 {
  /* position: absolute; */
  width: 24px;
  height: 24px;

  color: rgba(117, 119, 139, 1);
}
.icon {
  display: flex;
  width: 300px;
}
.first .p2 {
  width: 100px;
  height: 24px;
  margin-left: 5px;
  margin-top: 0em;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #797c9a;
}
.second .p3 {
  width: 84px;
  height: 24px;
  margin-left: 5px;
  margin-top: 0em;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #797c9a;
}
.first {
  display: flex;
}
.second {
  display: flex;
  margin-left: -20px;
}
.tour-card:hover .icon{
  display: none;
}
.b{
    /* Frame 2 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 16px;
gap: 8px;

/* position: absolute; */
width: 119px;
height: 54px;
margin-left: 1300px;
margin-top: -90px;

background: #FFFFFF;
border: 1px solid #E1E1E1;
border-radius: 12px;

}
.i{
    /* Group 134 */

width: 20px;
height: 12px;
margin-left: 0px;
margin-top: 0px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

}
.t{
 width: 59px;
height: 30px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
color: #202445;
flex: none;
order: 1;
flex-grow: 0;

}
.nav .btn-1{
    display: none;
}
